/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    transition: all 0.1s ease-in-out;

    /* Tipografica */
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.8rem, 2.8vw, 0.941rem);
}

:root {
    --quina: clamp(5px, 1.8vw, 10px);

    /* Paleta de cores*/
    --cor-primaria: #683DE5;
    --cor-secundaria: #11E5B3;
    --cor-clara: #f3f3f3;
    --cor-escuro: #1a1c1e;
    --cor-escuro2: #211431;
    --cor-escuro3: #352844;

    /* Hierarquia Tipografica */
    --font-tamanho-h1: 2rem;
    --font-tamanho-h2: 1.2rem;
    --font-tamanho-h3: 1rem;
    --font-tamanho-p: 0.941rem;
}

/* Cores ao selecionar um texto */
::selection {
    background: var(--cor-primaria);
    color: var(--cor-clara);
}
html{
    
}

body {
    background: var(--cor-escuro);
    color: var(--cor-clara);
    
}

.titulo,
h1 {
    font-size: var(--font-tamanho-h1);
    font-weight: 500;
    margin-top: 0;
}

.titulo2,
h2 {
    color: var(--cor-secundaria);
    font-size: var(--font-tamanho-h2);
    font-weight: 300;
}

.titulo3,
h3 {
    font-weight: 500;
    font-size: var(--font-tamanho-h3);
}

p {
    font-size: var(--font-tamanho-p);
    font-weight: 400;
    line-height: 1.7rem;
    color: #b0a99f;
    margin-top: 0;
}

.intro {
    font-weight: 300;
    padding: 10px 20px;
    border-left: 3px solid #363a3c;
}

a {
    text-decoration: none;
    color: #44a4fc;
}

button,
.botao {
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    padding: clamp(0.65rem, 1.8vw, 0.7rem) clamp(0.4rem, 2.3vw, 1.3rem);
    border-radius: var(--quina);
    text-align: center;
    font-size: var(--font-tamanho-p);
    font-family: "Poppins", sans-serif;
    margin: 4px.5rem 0 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 20px 30px -15px var(--cor-primaria);
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
    display: flex;
    margin-bottom: 1.5rem;
}

button:hover,
.botao:hover {
    transform: translatey(6px);
    box-shadow: none;
}

button:active {
    background-color: var(--cor-secundaria);
    transform: scale(0.98);
    transition: all 0.1s ease-in-out;
}

.botao2 {
    background: none;
    box-shadow: none;
    border: 1px solid;
    border-color: var(--cor-primaria);
    display: flex;
    margin-bottom: 1.5rem
}

.botao2:hover {
    border-color: var(--cor-secundaria);
}

.comprimento {
    max-width: 50vw;
    min-width: 300px;
}

section {
    min-height: 98vh;
}

.largura {
    width: 85%;
    max-width: 1024px;
    margin: auto;
}

#inicio .conteudo {
    display: grid;
    grid-template-columns: 8% auto;
    gap: 1rem;
    justify-content: space-between;
}

section#inicio {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    justify-items: center;
}

#inicio div button i {
    margin: auto 0.4rem auto 0;
}

#inicio div div button span {
    margin: auto 0;
}

.bx{
    font-size: 1.2rem;
}
.social a {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--cor-clara);
}

.social a:hover {
    color: var(--cor-primaria);
}

@media screen and (min-width: 1440px) {
    .largura {
        max-width: 1400px;
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    section#inicio {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: max-content;
        align-items: start;
    }
    #fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    div#fp-nav {
        display: none;
    }
}